@import 'mixins';
@import 'variables';

* {
	@include border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	color: var(--secondary);
	background: var(--primary);
}

main {
	box-shadow: var(--shadow);
}

h1 {
	font-family: 'roboto-black';
	font-size: 3rem;
}

h2 {
	font-family: 'roboto-normal';
	font-size: 1.875rem;
}

h3 {
	font-size: 1.625rem;
	font-family: 'roboto-light';
}

h4 {
	font-size: 1.5rem;
	white-space: nowrap;
	font-family: 'roboto-normal';
	letter-spacing: 4px;
	margin-bottom: 5px;
	
	&::after {
		@include separator;
	}
}

h5 {
	color: var(--tertiary);
	font-family: 'roboto-normal';
	font-size: 1.125rem;
}

p {
	font-size: 1.125rem;
	font-family: 'roboto-light';
}

a {
	font-size: 1rem;
	color: var(--secondary);
	border: 1px solid var(--secondary);
	border-radius: var(--radius);

	&:hover {
		color: var(--tertiary);
		border: 1px solid var(--tertiary);
	}
}

section {
	margin: 90px 50px;

	h3 {
		display: inline-block;
		text-align: center;

		&::after {
			@include separator;
		}
	}
}