@mixin separator {
	content: '';
	display: block;
	width: 170px;
	height: 5px;
	margin-top: 6px;
	background: $tertiary-color;
}
@mixin elipse {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	background: $tertiary-color;
}
@mixin border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}