:root {
   --primary: #111111;
   --secondary: #fff;
   --tertiary: #ff006f;
   --forty: hsla(0, 0%, 7%, 0.827);
   --radius: 6px;
	--shadow: 0px 0px 30px -10px rgba(0, 0, 0, 100%);
   --transition: 0.5s;
}
