@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'default';



body {
	font-family: 'pop-regular';
}

::-webkit-scrollbar-track {
	background-color: #dadada;
 }
 ::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: var(--tertiary);
 }

 ::-webkit-scrollbar-thumb {
	background: black !important;
}

header {
	padding: 0 1em;
	background-color: var(--forty);
	box-shadow: var(--shadow);

	.content {
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		h1 {
			letter-spacing: 0em;
    		text-decoration: line-through;
			font-size: 3em;
		}

		nav {
			display: flex;
			align-items: center;

			ul {
				display: flex;
				gap: 1em;
	
				li {
					list-style: none;
	
               .input-color {
                  width: 2em;
                  height: 2em;
               }

					a {
	
						img {
							width: 25px;
						}
					}
				}
			}
		}
	}
}

.container {
	display: flex;
	gap: 3em;
	margin: 5em 1em;
	justify-content: center;

	main {
		max-width: 900px;
		border-radius: var(--radius);
	
		section {
         margin: 0 2em 5em 2em;
         // margin: 0 2em 5em 2em;
	
			h1 {
				text-align: center;
				margin-bottom: .5em;
	
				&::after {
					@include separator;
				}
			}
		}
	
		.apresentation {
			display: grid;
			grid-template-columns: 50% 50%;
	
			.perfil-image img {
				width: 20em;
				border-bottom: 4px solid var(--tertiary);
				filter: brightness(0.8);
				border-radius: var(--radius);
			}
	
			.info-name {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 3em;
				text-align: center;
	
				h3 {
					font-size: 2em;
				}
	
				.profession {
					color: var(--tertiary);
				}
	
				.location {
					margin-top: 10em;
				
					.datas-contacts {
						display: flex;
						align-items: center;
						gap: 0.5em;
						text-align: center;
			
						img {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
	
		.tecnologies {
	
			.box-tecnologies {
				display: grid;
				grid-template-columns: 100%;
	
				.overflow {
					display: flex;
					overflow-x: scroll;
					height: 100px;
			
					.card-tecnologies {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 2em;
						width: 20em;
	
						img {
							width: 50px;
							height: 50px;
							margin-right: .5em;
						}
	
						h5 {
							font-weight: bold;
							font-family: 'pop-semibold';
							white-space: nowrap;
						}
					}
				}
			}
		}
	
		.projects {
      
         .box-projects {
            width: 100%;
            display: grid;
				grid-template-columns: 100%;

            .overflow {
               display: flex;
               overflow-x: scroll;
               padding-top: 1em;
               padding-bottom: 3em;
   
               .card-projects {
                  border-radius: var(--radius);
                  max-width: 25em;
                  width: 100%;
                  background: #151414;
                  padding: 2em;
                  margin-right: 1em;
                  display: flex !important;
                  flex-direction: column;
                  
                  details[open] {

                     summary {
                        color: var(--tertiary);
                     }
                  }

                  summary {
                     cursor: pointer;
   
                     &:hover {
                        color: var(--tertiary);
                     }
                  }
   
                  a {
                     transition: var(--transition);
                     margin-bottom: 0.3em;
   
                     &:hover {
                        color: var(--tertiary);
                        filter: drop-shadow(2px 4px 6px black);
                        transform: translateY(-3px);
                     }
                  }
   
                  img {
                     object-fit: cover;
                     height: 14em;
                     margin-bottom: 1em;
                  }
   
                  h2 {
                     font-family: 'pop-semibold';
                     color: var(--tertiary);
                     text-align: center;
                     margin-bottom: 0.5em;
                  }
   
                  p {
                     font-size: 1em;
                     margin-top: .7em;
                  }
               }
            }
         }
		}
	}
}

.register {
   display: none;
   margin-top: 3em;

   .form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 30em;
      padding: 3em;
      border-radius: 6px;
      box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 100%);

      h1 {
         text-align: center;
         margin-bottom: 1.5em;
      }

      .send {
         margin: 0 auto;
         width: 6em;
         height: 2.5em;
         background: none;
         border: none;
         border-bottom: 1px solid white;
         color: white;
      }

      textarea {
         background: #222;
         border-radius: var(--radius);
         margin-top: 1em;
         padding: 1em;
         color: white;

         &:focus {
            outline: none;
         }
      }

      input {
         margin-bottom: 1em;
         height: 3em;
         padding: 1em;
         background: none;
         border-bottom: 1px solid white;
         color: white;


         &:focus {
            outline: none;
            border-bottom: 1px solid var(--tertiary);
         }
      }
   }
}

.swal2-popup {
   background: var(--primary) !important;
}

.swal2-styled.swal2-confirm {
   background: var(--tertiary) !important;
}

.swal2-title, .swal2-input-label, .swal2-input {
   color: var(--tertiary) !important;
}

@media(max-width: 720px) {
	.apresentation {
		display: grid;
		grid-template-columns: 100% !important;

		.perfil-image {
			display: flex;
			justify-content: center;
		}

		.location {
			margin-top: 2em !important;
		}
	}
}