@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'default';

main {
	display: flex;
	justify-content: center;
	margin: 5em 0;
}

aside {
	width: 500px;
	background: $secondary-bg;
	// margin-right: 25px;
	border-radius: $radius;

	.perfil {
		display: flex;
		margin: 50px auto;
		flex-direction: column;
		justify-content: center;

		img {
			top: 60px;
			width: 19em;
			margin: auto;
			position: relative;
			border-radius: $radius;
		}
	}

	.socials {
		gap: 33px;
		display: flex;
		justify-content: center;

		a {
			width: 70px;
			height: 70px;
			background: #1f1f1f;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: $radius;
			transition: 0.5s;
			margin-top: 2.5em;

			&:hover {
				background: #272727;
			}
		}

		img {
			width: 40px;
		}
	}

	.contact {
		width: 420px;
		height: 400px;
		border-radius: $radius;
		padding: 3em;
		margin: 3em auto;
		background: #1f1f1f;

		.contact-track {

			.contact-box {
				display: flex;
				align-items: center;
				padding: 1em 0;
				border-bottom: 1px solid $tertiary-color;

				.box-contact-image {
					width: 70px;
					height: 70px;
					background: #111111;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: $radius;
					transition: 0.5s;
					margin-right: 1em;

					img {
						width: 40px;
					}
				}

				.contact-image-location{
					filter: invert(1);
				}
			}
		}
	}
}

#large-card {
	width: 900px;
	max-width: 100%;
	background: $secondary-bg;
	border-radius: $radius;

	.titles {
		margin: 104px 160px;
		text-align: center;

		h2 {
			margin-top: 19px;

			&::after {
				@include separator;
				width: 90px;
				background: $tertiary-color;
				margin: 16px auto 0 auto;
			}
		}
	}

	.profile {
		margin-top: 0;
	}

	.experience {
		.sub-section {
			display: flex;
			flex-wrap: wrap;
			margin-top: 16px;
			margin-bottom: 35px;
			justify-content: space-between;

			.info-data {
				width: 25em;

				&::before {
					@include elipse;
					top: 14px;
					right: 20px;
					position: relative;
				}
			}
		}
	}

	.skills {
		div {
			img {
				width: 40px;
				margin: 1rem 0.3rem;
			}
		}
	}

	.projects {

		.project-track {
			display: flex;
			flex-wrap: wrap;

			.project-box {
				margin: 1em 1em 0 0;
				padding: 1em;
				border-radius: $radius;
				background-color: #1a1a1a;
				transition: 0.5s;

				&:hover {
					background-color: #272727;

					div {
						a {
							border: 1px solid $tertiary-color;
							color: $tertiary-color;
						}
					}
				}

				img {
					width: 19em;
					max-width: 100%;
				}

				div {
					margin-top: 1em;
					display: flex;
					align-items: center;
					justify-content: space-between;

					h4 {
						font-size: 18px;
						text-align: center;
						text-transform: uppercase;
					}

					a {
						color: $primary-color;
						padding: 9px;
						width: 130px;
						display: flex;
						font-size: 18px;
						transition: 0.5s;
						border-radius: $radius;
						align-items: center;
						text-decoration: none;
						justify-content: center;
						border: 1px solid $primary-color;
						font-family: 'roboto-normal';
					}
				}
			}
		}
	}
}

.title-mobile {
	display: none;
}

@media (max-width: 1500px) {
	aside {
		width: 450px;
	}

	#large-card {
		width: calc(900px - 5%);
	}
}

@media (max-width: 1240px) {
	.titles {
		display: none;
	}

	aside {
		display: none;
	}

	#large-card {
		.title-mobile {
			.perfil-mobile {
				.my-work {
					display: none;
				}
			}
		}
	}

	#large-card {
		width: 1000px;
		margin: 0 3em;

		.title-mobile {
			display: flex !important;
			flex-direction: column;
			align-items: center;

			.perfil-mobile {
				margin-bottom: 2em;
				display: flex;
				flex-direction: column;

				.myphoto {
					top: 30px;
					width: 19em;
					margin: auto;
					position: relative;
					object-fit: cover;
				}
			}

			.datas-mobile {
				h1 {
					margin-top: 0.3em;
				}

				h1,
				h2 {
					text-align: center;
				}
			}
		}

		#large-card .projects .project-track {
			justify-content: center;
	
			.project-box img {
				width: 32em;
			}
		}
	}
}

@media (max-width: 600px) {
	main, #large-card {
		margin: 0;
	}

	section {
		margin: 50px 55px;
	}

	h2 {
		font-size: 1.475rem;
	}

	#large-card .projects .project-track .project-box div h4 {
		font-size: 15px;
	}

	#large-card .projects .project-track .project-box div a {
		color: #fff;
		padding: 8px;
		width: 110px;
		display: flex;
		font-size: 15px;
		transition: 0.5s;
		border-radius: $radius;
		align-items: center;
		text-decoration: none;
		justify-content: center;
		border: 1px solid #fff;
		font-family: "roboto-normal";
	}
}