@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'default';

main {
	max-width: 1200px;
	margin: 5em auto;
	border-radius: var(--radius);	
	display: grid;
	grid-template-columns: 40% 60%;
}

.version-mobile {
	display: none;
}

aside {
	.perfil {
		display: flex;
		margin: 50px 0;
		justify-content: center;
		margin-top: 8em;

		img {
			width: 19em;
			margin: auto;
			border-radius: var(--radius);	
		}
	}

	.socials {
		gap: 33px;
		display: flex;
		justify-content: center;
		
		a {
			width: 70px;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: var(--shadow);
			border-radius: var(--radius);	
			border: none;

			&:hover {
				border: 1px solid var(--tertiary);
			}
		
			img {
				width: 40px;
			}
		}
	}

	.contact {
		width: 400px;
		height: 400px;
		margin: 3em 2em;

		.contact-track {
			.contact-box {
				display: flex;
				align-items: center;
				padding: 1em 0;
				border-bottom: 1px solid var(--tertiary);

				.box-contact-image {
					width: 70px;
					height: 70px;
					background: #111111;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: 0.5s;

					img {
						width: 40px;
					}
				}

				.contact-image-location{
					filter: invert(1);
				}
			}
		}
	}
}

#large-card {
	.my-informations {
		margin: 104px 0;
		text-align: center;

		h3 {
			margin-top: 19px;

			&::after {
				@include separator;
				width: 90px;
				margin: 10px auto 0 auto;
			}
		}
	}

	.profile {
		margin-top: 0;
	}

	.experience {
		.sub-section {
			display: grid;
			grid-template-columns: 50% 55%;
			align-items: baseline;
			margin-bottom: 35px;

			.info-data {
				&::before {
					@include elipse;
					top: 14px;
					right: 20px;
					position: relative;
				}
			}
		}
	}

	.skills {
		img {
			width: 40px;
			margin: 1rem 0.3rem;
		}
	}

	.projects {
		.project-track {
			display: grid;
    		grid-template-columns: 50% 50%;

			.project-box {
				margin: 1em 1em 0 0;
				padding: 1em;
				box-shadow: var(--shadow);
				transition: var(--transition);

				&:hover {
					background-color: #272727;
				}

				img {
					width: 19em;
					max-width: 100%;
					height: 9em;
					object-fit: cover;
					object-position: top;
				}

				div {
					margin-top: 1em;
					display: flex;
					align-items: center;
					justify-content: space-between;

					h4 {
						font-size: 18px;
						text-align: center;
						text-transform: uppercase;
					}

					a {
						padding: 9px;
						width: 130px;
						display: flex;
						font-size: 18px;
						transition: 0.5s;
						align-items: center;
						text-decoration: none;
						justify-content: center;
						font-family: 'roboto-normal';
					}
				}
			}
		}
	}
}

@media (max-width: 960px) {
	main {
		display: grid;
		grid-template-columns: 80%;
		justify-content: center;
		margin: 0;
	}

	section {
		margin: 90px 10px;
	}

	aside {
		display: none;
	}
	
	.my-informations {
		display: none;
	}

	.version-mobile {
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: center;
		margin: 5em 0;
		
		h1 {font-size: 2.6em;}
		h3 {font-size: 1.5em;}

		.mobile-my-info-datas {
			text-align: center;
		}

		.mobile-socials {
			gap: 1em;
			display: flex;
			justify-content: center;
			margin-top: 3em;
			
			a {
				width: 70px;
				height: 70px;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: var(--shadow);
				border-radius: var(--radius);	
	
				&:hover {
					border: 1px solid var(--tertiary);
				}
			
				img {
					width: 40px;
				}
			}
		}

		.mobile-img {
			width: 90%;
			border-radius: var(--radius);
			margin: auto;
		}
		
		h1 {
			margin-top: 0.3em;			
		}
	}
}

@media (max-width: 720px) {
	.version-mobile {
		grid-template-columns: 80%;
		margin: 5em 0 4em 0;


		.mobile-img {
			width: 16em;
			// height: 18em;
			// border-radius: 100%;
			margin: auto;
			object-fit: cover;
			margin-bottom: 0.5em;
		}
	}

	#large-card {
		.skills img {
			width: 40px;
			margin: 0.6rem 0.1rem;
		}

		.experience .sub-section {
			display: grid;
			grid-template-columns: 100%;
			margin-bottom: 50px;
		
			h6 {
				margin-bottom: 0.3em;
			}
		}
	
		.projects .project-track {
			display: grid;
			grid-template-columns: 100%;
	
			.project-box {
				>div {
					flex-wrap: wrap;
	
					h6 {
						margin-bottom: 10px;
					}
				}
	
				img {
				  width: 100%;
			  }
			}
		}
	} 
}
